body, html{
    height: 100%;
}
p{
    color:white;
}
.navbar{
    top: 40px; 
    background-color:black;
    opacity:0.65;
}

#profil{
    margin-top: 15%;
    transition: all .2s ease-in-out;
}

#profil:hover{
    transform:scale(1.1);
}

.baslik{
    color:white;
}
.gorsel{
    height: 100%;
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
}

.bant{
    height: 1%;
    background-color: white;
}

#gor1 {
    background-image: url('Img/resim1.jpg');

}

#gor2 {
    background-image: url('Img/resim2.jpg');
}

#gor3 {
    background-image: url('Img/resim3.jpg');
}

li a{
    color: #fff;
    margin-left:40px;
}
.hakkimda{
    background-color:black;
    opacity: 0.65;
    margin-top: 20%;
    width: 50%;
}
